<html ng-app="listadefilmes">
<head>
    <title>Lista de filmes</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">

    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
        .table {
            margin-top: 20px;
        }
        .form-control {
            margin-bottom: 5px;
        }
        .selecionado {
            background-color: yellow;
        }
        .negrito {
            font-weight: bold;
        }
    </style>

    <script src="lib/angular/angular.js" ></script>
    <script>
        angular.module("listadefilmes", []);
        angular.module("listadefilmes").controller("listadefilmesCtrl", function ($scope) {
            $scope.app = "procurando filmes";
            $scope.filmes = [
                {nome: "X-man", data: "02/12/2018"},
                {nome: "Quarteto Fantastico", data: "08/04/2020"},
                {nome: "Dr Strange", data: "20/01/2022"},
            ];
            $scope.adicionarFilme = function (filme) {
                $scope.filmes.push(angular.copy(filme));
                delete $scope.filme;
            };
             $scope.apagarFilme = function (filmes) {
                $scope.filmes = filmes.filter(function (filme) {
                     if (!filme.selecionado) return filme;
                });
             };
            $scope.isFilmeSelecionado = function (filmes) {
              return filmes.some(function (filme) {
                 return filme.selecionado;
                 });
             };

        });
    </script>


</head>

<body ng-controller="listadefilmesCtrl">
    <div  class="jumbotron">
        <h3>{{app}}</h3>
        <table ng-show="filmes.length > 0" class="table">
            <tr>
                <th>Nome</th>
                <th>Data</th>
            </tr>
            <tr ng-class="{'selecionado negrito': filme.selecionado}" ng-repeat="filme in filmes">
                <td><input type="checkbox" ng-model="filme.selecionado"/></td>
                <td>{{filme.nome}}</td>
                <td>{{filme.data}}</td>
            </tr>

        </table>
        <hr/>
        <input class="form-control" type="text" ng-model="filme.nome" placeholder="Nome"/>
        <input class="form-control" type="text" ng-model="filme.data" placeholder="Data"/>


        <button class="btn btn-primary btn-block" ng-click="adicionarFilme(filme)" ng-disabled="!filme.nome">Adicionar Filme</button>
        <button class="btn btn-danger btn-block" ng-click="apagarFilme(filmes)" ng-if="isFilmeSelecionado(filmes)">Apagar Contatos</button>


    </div>
    <div ng-include="'footer.html'"></div>
</body>
</html>